<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_js(scripts)">

    <script type="text/javascript" th:src="@{/js/util/jquery2.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/util/cookie.js}"></script>
    <th:block th:replace="${scripts}" />
    <script type="text/javascript">
        $(function () {
            let username = $.cookie('username')=== undefined ? null : $.cookie('username') ;
            console.log(username);
            if (username !== null){
                $(".name").text(username);
                $("#login").text("");
                $("#logout").text("退出");
            }

            $("#logout").on('click',function () {
                $.ajax({
                    url: '/logout',
                    dataType: 'json',
                    contentType:"application/json;charset=UTF-8",
                    type: 'POST',
                    //data: JSON.stringify({}),
                    success: function (data) {
                        if (data.status === 0){
                            $.cookie('username', '', { expires: -1 }); // 删除 cookie
                            $.cookie('userId', '', { expires: -1 }); // 删除 cookie
                            $.cookie('head', '', { expires: -1 }); // 删除 cookie
                            $("#logout").text("");
                            $("#login").text("登陆");
                            location.href="/index";
                        }else {
                        }
                        console.log(data.status);
                    },
                    error:function () {

                    }
                })
            });

            $("#write").on('click',function () {
                let type = window.location.pathname;
                $.ajax({
                    url: '/write',
                    dataType: 'json',
                    contentType:"application/json;charset=UTF-8",
                    type: 'POST',
                    data: JSON.stringify(json),
                    success: function (data) {
                        if (data.status === 10034){
                            alert("先登个陆吧！！！");
                            location.href="/login";
                            $.cookie('username', '', { expires: -1 }); // 删除 cookie
                        }else {
                            window.location.href="/write/toWrite"+type;
                        }
                        console.log(data.status);
                    },
                    error:function () {

                    }
                })
            })
        });
        let json = {

        };

    </script>
</div>
</html>