<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_js(scripts)">

    <script type="text/javascript" th:src="@{/js/util/jquery2.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/util/cookie.js}"></script>
    <th:block th:replace="${scripts}" />
    <script type="text/javascript">
        $(function () {
            let username = $.cookie('username');
            if (username !== "" && username !== null){
                $("#login").text(username);
            }
            $("#write").on('click',function () {
                $.ajax({
                    url: '/write',
                    dataType: 'json',
                    contentType:"application/json;charset=UTF-8",
                    type: 'POST',
                    data: JSON.stringify(json),
                    success: function (data) {
                        if (data.status === 10034){
                            alert("登陆超时请重新登陆");
                            location.href="/index";
                            $.cookie('username', '', { expires: -1 }); // 删除 cookie
                        }else {
                            window.location.href="/write/toWrite";
                        }
                        console.log(data.status);
                    },
                    error:function () {

                    }
                })
            })
        });
        let json = {

        };

    </script>
</div>
</html>