<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mxp.blog.mapper.ArticleMapper">

    <resultMap id="ResultMap" type="com.mxp.blog.model.Article">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="subtitle" column="subtitle"/>
        <result property="introduction" column="introduction"/>
        <result property="text" column="text"/>
        <result property="img" column="img"/>
        <result property="createTime" column="create_time"/>
        <result property="userId" column="user_id" />
    </resultMap>

    <sql id="all">
            id,
            title,
            type,
            subtitle,
            introduction,
            text,
            img,
            create_time,
            user_id
    </sql>
    <sql id="insert">
            title,
            type,
            subtitle,
            introduction,
            text,
            img,
            create_time,
            user_id
    </sql>

    <select id="selectAllByType" resultMap="ResultMap" parameterType="Article">
        SELECT
        <include refid="all"/>
        FROM article
        <where>
            type=#{type}
        </where>
        ORDER BY `create_time` DESC
    </select>
    <insert id="insertArticle" parameterType="Article" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO article(<include refid="insert"/>) VALUES (#{title},#{type},#{subtitle},#{introduction},#{text},#{img},#{createTime},#{userId})
    </insert>
    <select id="selectById" resultMap="ResultMap" parameterType="integer">
        SELECT
        <include refid="all"/>
        FROM article
        <where>
            id=#{id}
        </where>
    </select>
    <insert id="inserPhoto" parameterType="Photo">
        INSERT INTO photo(image,article_id) VALUES
        <foreach collection="photo.image" item="img"  separator=",">
            (#{img},#{photo.acticleId})
        </foreach>
    </insert>


</mapper>
