<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="utf-8">
<head th:replace="include/externalCss :: common_header(~{::title},~{::link})">
    <title>详情</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="">
</head>
<body>

<div th:replace="head/head.html"></div>

<div class="content whisper-content leacots-content details-content">
    <div class="cont w1000">
        <div class="whisper-list">
            <div class="item-box">
                <div class="review-version">
                    <div class="form-box">
                        <div class="article-cont">
                            <div class="title">
                                <h3 th:text="${article.title}"></h3>
                                <p class="cont-info"><span class="data" th:text="${#strings.replace(article.createTime,'T',' ')}"></span><span class="types" th:text="${article.subtitle}"></span></p>
                                <input type="hidden" id="articleId" th:value="${article.id}">
                            </div>
                            <div th:utext="${article.text}" id="text"></div>
                            <div class="btn-box">
                                <button class="layui-btn layui-btn-primary">上一篇</button>
                                <button class="layui-btn layui-btn-primary">下一篇</button>
                            </div>
                        </div>
                        <div class="form">
                            <form class="layui-form" action="">
                                <div class="layui-form-item layui-form-text">
                                    <div class="layui-input-block">
                                        <textarea name="desc" placeholder="既然来了，就说几句" class="layui-textarea"></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block" style="text-align: right;">
                                        <button class="layui-btn definite">確定</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="volume">
                        全部留言 <span id="allComment">0</span>
                    </div>
                    <div class="list-cont">
                        <div id="cont"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="demo" style="text-align: center;"></div>
    </div>
</div>
<script type="text/html" id="laytplCont">
    <div class="cont">
        <div class="img head">
            {{# if(d.avatar){ }}
            <img src="{{d.avatar}}" alt="">
            {{# } else { }}
            <img src="" alt="">
            {{# } }}
        </div>
        <div class="text">
            <p class="tit">
                <span class="name">{{d.name}}</span>
                <span class="data" id="dat">{{d.dta}}</span>
            </p>
            <p class="ct">{{d.cont}}</p>
        </div>
    </div>
</script>
<div class="footer-wrap">
    <div class="footer w1000">
    </div>
</div>
<script type="text/javascript" th:src="@{/js/util/jquery2.2.1.js}"></script>
<script type="text/javascript" th:src="@{/js/util/cookie.js}"></script>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript">
    let currs = 1;
    $(function () {
        let username = $.cookie('username')=== undefined ? null : $.cookie('username') ;
        if (username !== null){
            $(".name").text(username);
            $("#login").text("");
            $("#logout").text("退出");
        }
        $("#write").text("");
        //$("#index").addClass("active");
        comment(1);
    });

    function comment(curr) {
        let id = $("#articleId").val();
        let json = {
            id:id,
            curr:curr
        };
        $.ajax({
            url: '/comment',
            dataType: 'json',
            contentType:"application/json;charset=UTF-8",
            type: 'POST',
            data: JSON.stringify(json),
            success: function (data) {
                console.log(data.list);
                let cont = '';
                for (let i = 0; i < data.list.length; i++) {
                    cont += "<div class=\"cont\" >\n" +
                        "       <div class=\"img head\">\n" +
                        "           <img  src="+ data.list[i].head +"  alt=\"\">\n" +
                        "       </div>\n" +
                        "       <div class=\"text\">\n" +
                        "           <p class=\"tit\">\n" +
                        "              <span class=\"name\">"+ data.list[i].name +"</span>\n" +
                        "              <span class=\"data\">"+ format(data.list[i].create_time) + "</span></p>\n" +
                        "           <p class=\"ct\" >" + data.list[i].text + "</p>\n" +
                        "       </div>\n" +
                        "   </div>";
                }

                //调用分页
                layui.config({
                    base: '../js/util/'
                }).use(['element', 'laypage', 'jquery', 'menu'], function () {
                    element = layui.element, laypage = layui.laypage, $ = layui.$, menu = layui.menu;
                    laypage.render({
                        elem: 'demo',
                        curr:curr,
                        count: data.total, //数据总数，从服务端得到
                        jump: function (obj, first) {
                            if(!first) {
                                currs = obj.curr;
                                comment(currs);
                            }
                        }
                    });
                    menu.init();
                    menu.submit($.cookie('username'),$.cookie('head'));
                });
                $("#allComment").html(data.total);
                $("#cont").html(cont);
            },
            error: function () {

            }
        })

    }
    function format(shijianchuo)
    {
        //shijianchuo是整数，否则要parseInt转换
        let time = new Date(shijianchuo);
        let y = time.getFullYear();
        let m = time.getMonth()+1;
        let d = time.getDate();
        let h = time.getHours();
        let mm = time.getMinutes();
        let s = time.getSeconds();
        return y+'-'+add0(m)+'-'+add0(d)+' '+add0(h)+':'+add0(mm)+':'+add0(s);
    }
    function add0(m){return m<10?'0'+m:m }
</script>
</body>
</html>