<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="utf-8">
<head th:replace="include/externalCss :: common_header(~{::title},~{::link})">
    <title>首页</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="">
</head>
<body>

<div th:replace="head/head.html"></div>

<div class="banner">
    <div class="cont w1000">
        <div class="title">
            <h3>MY<br/>BLOG</h3>
            <h4>well-balanced heart</h4>
        </div>
        <div class="amount">
            <p><span class="text">访问量</span><span class="access">1000</span></p>
            <p><span class="text">日志</span><span class="daily-record">1000</span></p>
        </div>
    </div>
</div>
<div class="tlinks">Collect from <a href="http://www.cssmoban.com/">网页模板</a></div>
<div class="content">

    <div class="cont w1000">
        <div class="title">
        <span class="layui-breadcrumb" lay-separator="|">
          <a href="javascript:" id="breadcrumb1" onclick="breadcrumb(currs,'backstage')" class="active">后台文章</a>
          <a href="javascript:" id="breadcrumb2" onclick="breadcrumb(currs,'reception')">前端文章</a>
          <a href="javascript:" id="breadcrumb3" onclick="breadcrumb(currs,'life')">生活杂记</a>
        </span>
        </div>

        <div id="breadcrumbContent"></div>
        <div id="demo" style="text-align: center;"></div>
    </div>
</div>

<div class="footer-wrap">
    <div class="footer w1000">
    </div>
</div>

<!-- js -->
<div th:replace="include/externalJs::common_js(~{::script})">
    <!--每个页面自己的js-->
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
</div>
<script type="text/javascript">
    let currs = 1;
    $(function () {
        $("#index").addClass("active");
        breadcrumb(1,"backstage");
    });

    //绑定事件
    // $(document).on('click', '#demo1', function (data) {
    //     //get(currs);
    // });
        function breadcrumb(curr,type) {
           if (type === "backstage"){
               $("#breadcrumb1").addClass("active");
               $("#breadcrumb2").removeClass("active");
               $("#breadcrumb3").removeClass("active");
           }else if(type === "reception"){
               $("#breadcrumb2").addClass("active");
               $("#breadcrumb1").removeClass("active");
               $("#breadcrumb3").removeClass("active");
           }else if (type === "life"){
               $("#breadcrumb3").addClass("active");
               $("#breadcrumb2").removeClass("active");
               $("#breadcrumb1").removeClass("active");
           }
           let json =  {
               curr: curr,
               type:type
           };
            $.ajax({
                url: "/breadcrumbData",
                dataType: "json",
                contentType:"application/json;charset=UTF-8",
                type:"post",
                data:JSON.stringify(json),
                success: function (data) {
                    let breadcrumbContent = "";
                    for (let i = 0; i < data.list.length; i++) {
                        breadcrumbContent += "<div class=\"list-item\">\n" +
                            "            <div class=\"item\">\n" +
                            "                <div class=\"layui-fluid\">\n" +
                            "                    <div class=\"layui-row\">\n" +
                            "                        <div class=\"layui-col-xs12 layui-col-sm4 layui-col-md5\">\n" +
                            "                            <div class=\"img\" style='width: 416px;height: 277px'><img src="+ data.list[i].img +" alt=\"\"></div>\n" +
                            "                        </div>\n" +
                            "                        <div class=\"layui-col-xs12 layui-col-sm8 layui-col-md7\">\n" +
                            "                            <div class=\"item-cont\">\n" +
                            "                                <h3>"+ data.list[i].title +"<button class=\"layui-btn layui-btn-danger new-icon\">new</button></h3>\n" +
                            "                                <h5>"+ data.list[i].subtitle +"</h5>\n" +
                            "                                <p>" + data.list[i].introduction +"</p>\n" +
                            "                                <a href=" + "/details/"+ data.list[i].id +" class=\"go-icon\"></a>\n" +
                            "                            </div>\n" +
                            "                        </div>\n" +
                            "                    </div>\n" +
                            "                </div>\n" +
                            "            </div>\n" +
                            "        </div>"
                    }
                    //调用分页
                    layui.config({
                        base: '../js/util/'
                    }).use(['element', 'laypage', 'jquery', 'menu'], function () {
                        element = layui.element, laypage = layui.laypage, $ = layui.$, menu = layui.menu;
                        laypage.render({
                            elem: 'demo',
                            curr:curr,
                            count: data.total, //数据总数，从服务端得到
                            jump: function (obj, first) {
                                if(!first) {
                                    currs = obj.curr;
                                    breadcrumb(currs,type);
                                }
                            }
                        });
                        menu.init();
                    });
                    $("#breadcrumbContent").html(breadcrumbContent)
                }
            })

        }

</script>
</body>
</html>