<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="utf-8">
<head th:replace="include/externalCss :: common_header(~{::title},~{::link})">
    <title>微语</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="">
</head>
<body>

<div th:replace="head/head.html"></div>

<div class="content whisper-content">
    <div class="cont">
        <div class="whisper-list">

            <div id="mb"></div>


            <div id="demo" style="text-align: center;"></div>
        </div>
    </div>
    <script type="text/html" id="laytplCont">
        <div class="cont">
            <div class="img">
                <img src="{{d.avatar}}" alt="">
            </div>
            <div class="text">
                <p class="tit"><span class="name">{{d.name}}</span><span class="data">2018/06/06</span></p>
                <p class="ct">{{d.cont}}</p>
            </div>
        </div>
    </script>

    <!--foot-->
    <div class="footer-wrap">
        <div class="footer w1000">

        </div>
    </div>
</div>
<div th:replace="include/externalJs::common_js(~{::script})">
    <!--每个页面自己的js-->
</div>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript">
    var currs = 1;
    $(function () {
        $("#whisper").addClass("active");
        whisperData(currs)
    });

    function whisperData(curr) {
        var json = {
            curr: curr
        };
        $.ajax({
            url: "/whisperData",
            json: "jsonp",
            contentType: "application/json;charset=UTF-8",
            type: "post",
            data: JSON.stringify(json),
            success: function (data) {
                //console.log(data.list);
                var mb = '';
                for (var i = 0; i < data.list.length; i++) {
                    mb += '<div class="item-box">\n' +
                        '<div class="item">\n' +
                        '            <div class="whisper-title">\n' +
                        '              <i class="layui-icon layui-icon-date"></i><span class="hour">' + (data.list[i].time).split("T")[1] + '</span><span class="date">' + data.list[i].time.split("T")[0] + '</span>\n' +
                        '            </div>\n' +
                        '            <p class="text-cont">\n' + data.list[i].text +
                        '            </p>\n' +
                        '            <div class="img-box">\n' +
                        '              <img src=' + data.list[i].img + '>\n' +
                        '            </div>\n' +
                        '            <div class="op-list">\n' +
                        '              <p class="like"><i class="layui-icon layui-icon-praise"></i><span>' + data.list[i].like + '</span></p>\n' +
                        '              <p class="edit"><i class="layui-icon layui-icon-reply-fill"></i><span>' + data.list[i].leave + '</span></p>\n' +
                        '              <p class="off"><span id="">展开</span><i class="layui-icon layui-icon-down"></i></p>\n' +
                        '            </div>\n' +
                        '          </div>\n' +
                        '            <div id="123"></div>\n' +
                        '        </div>' +
                        '        </div>';
                }
                $("#mb").html(mb);
                layui.config({
                    base: '../js/util/'
                }).use(['element', 'laypage', 'form', 'menu'], function () {
                    element = layui.element, laypage = layui.laypage, form = layui.form, menu = layui.menu;
                    laypage.render({
                        elem: 'demo',
                        curr: curr,
                        count: data.total, //数据总数，从服务端得到
                        jump: function (obj, first) {
                            if (!first) {
                                currs = obj.curr;
                                whisperData(currs);
                            }
                        }
                    });
                    menu.init();
                    menu.off();
                    menu.submit()
                })
            }
        });
    }

</script>
</body>
</html>